p{
    color: blue;
    color: red;

}
.box{
    width: 100px;
    height: 100px;
    background-color: yellow;
}
#special{
    width: 100px;
    height: 100px;
    background-color: green;
}
h1{
    border: 2px solid black;
}