*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    /* background-color: #3498db; */
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.my-profile{
    width: 400px;
    padding: 25px;
    background-color: white;
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);

}
.image img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid black;
}
h1{
    font-size: 25px;
    padding: 10px;
}
p{
    font-size: 16px;
    padding: 10px;
}
.skills{
    width: 100%;
}
.skills h2{
    font-size: 18px;
}
.skills ul{
    padding-left: 25px;
    font-size: 15px;
}
.contact{
    width: 100%;
    margin-top: 10px;

}
